<h1>new user account</h1>



<%= form_with model: [current_user, @user_account] do |f| %>

    
    <%= f.collection_select :financial_product_id, @products, :id, :name %> <br>

    <%= f.fields_for :positions, @cash do |position| %>
    <%= position.hidden_field :type, value: 'Cash' %><br>
    <%= position.label :value, 'Enter your initial deposit' %> <br>
    <%= position.number_field :value, value: 0, min: 0, step: :any %> <br>
    <% end %>

    <%= f.submit %>

<% end %>