<h1>new user account</h1>

<%= form_with model: [@user, @user_account] do |f| %>

    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.collection_select :financial_product_id, @products, :id, :name %> <br>
    <%= f.fields_for :cash do |field| %>
     <br>
    <%= field.label :value, 'Enter your initial deposit' %> <br>
    <%= field.text_field :value %> <br>
    <% end %>
    <%= f.submit %>

<% end %>