<h1>User Account show page</h1>


acct. number 0000<%= @user_account.id %> - <%= @user_account.financial_product.name %> <br>


<% @user_account.positions.each do |position| %>

    <%= position.symbol %>
    <%= position.name %> <br>
    <%= position.value %> <br>

<% end %>

<%= link_to 'create new position', new_user_account_position_path(@user_account) %> <br>
<%= button_to 'close account', user_account_path(@user_account), method: :delete %>
