<div class="jumbotron text-center">
    <h1><%= @user_account.financial_product.name %> Positions</h1>
    <%= link_to 'User account home', @user_account %> <br><br>
</div><br>

<div class="text-center">
    <% cash = @positions.find {|position| position.type == 'Cash'} %>
    <% equities = @positions.filter {|position| position.type == 'Equity'} %>

        <h2>Cash</h2>
        Cash balance: <%= number_to_currency(cash.value) %> <br> 
        <%= link_to 'make a cash deposit/withdrawl', edit_cash_path(position) %> <br><br>
        <h2>Equities</h2>
        <% equities.each do |equity| %>
        <%= link_to equity.symbol, equity_path(equity) %> <br>
        <% end %>


 <br><br>
    <%= link_to 'create new equity position', new_user_account_equity_path(@user_account) %>

</div>