<div class="jumbotron text-center">
    <h1><%= @user_account.financial_product.name %> Positions</h1>
    <%= link_to 'User account home', @user_account %> <br><br>
</div><br>

<div class="text-center">
    <% @positions.each do |position| %>

        <% if position.type == 'Cash' %>
            <h2>Cash</h2>
            <%= position.type %> balance:
            <%= number_to_currency(position.value) %> <br> 
            <%= link_to 'make a cash deposit/withdrawl', edit_cash_path(position) %> <br><br>
            <h2>Equities</h2>
        <% else %>
            <%= link_to position.symbol, equity_path(position) if position.type == 'Equity' %> <br>
        <% end %>


    <% end %> <br><br>
    <%= link_to 'create new equity position', new_user_account_equity_path(@user_account) %>

</div>