

<%= form_with model: user do |f| %>
    <div class="form-group text-center">
    <%= f.label :first_name %> <br>
    <%= f.text_field :first_name %> <br><br>

    <%= f.label :last_name %> <br>
    <%= f.text_field :last_name %> <br><br>

    <%= f.label :username %> <br>
    <%= f.text_field :username %> <br><br>

    <%= f.label :email %> <br>
    <%= f.text_field :email %> <br><br>

    <%= f.label 'Select Customer or Admin' if @user %> <br>
    <%= f.select :type, ['Customer', 'Admin'] if @user %> <br><br>

    <%= f.label :password %> <br>
    <%= f.password_field :password %> <br><br>

    <%= f.label 'Confirm Password' %> <br>
    <%= f.password_field :password_confirmation %> <br><br>

    <%= f.submit class: "btn btn-primary" %>

    </div>

<% end %>


