<% if @user.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<h1>Registration Form</h1>

<%= form_with model: @user do |f| %>

    <%= render partial: 'form', locals: { f: f }%>

    <%= f.label 'Check if you are an Administrator' %> <br>
    <%= f.check_box :admin %> <br>

    <%= render partial: 'password_form', locals: { f: f } %>

<% end %>