<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>
    <header>
      <p><%= button_to('Log Out', session_path(current_user), method: :delete) if session[:user_id] %></p> 
      <%= link_to 'Sign In with GitHub', '/auth/github/callback' if !session[:user_id]%> <br>
      <p><%= link_to('Log In', login_path) unless session[:user_id] %></p>
    </header>
     <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: name %>
     <% end %>

    <%= yield %>
  </body>
</html>
