<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>
    <header>
      <%= button_to('Log Out', logout_path, method: :delete) %> <%= link_to 'Sign In with GitHub', '/auth/github/callback'%>
    </header>

    <%= yield %>
  </body>
</html>
