<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
          <li class="nav-item active"><%= link_to 'Log in with Github', '/auth/github', class: "nav-link", method: :post unless session[:user_id] %></li>
          <li class="nav-item active"><%= link_to 'Log In', login_path, class: "nav-link" unless session[:user_id] %></li>
          <li class="nav-item active"><%= link_to 'Sign Up', new_user_path, class: "nav-link"  unless session[:user_id] %></li>
      </ul>
    </nav>
     <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: "#{name} alert alert-info" %>
     <% end %>

    <%= yield %>

    <br> <%= button_to('Log Out', session_path(current_user), method: :delete) if session[:user_id] %> 
  </body>
</html>
